<% unless user_signed_in? %>
  <div class="card bg-light mt-4">
    <div class="card-body text-center py-5">
      <h1 class="mb-4">勤怠システム</h1>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mb-3" %>
      <p>アカウント作成は <%= link_to "こちら", new_user_registration_path %> から</p>
    </div>
  </div>
<% end %>
